{
  "globals": {
    "ga": true,
    "chrome": true
  },
  "plugins": [
    "html",
    "json"
  ],
  "extends": "elemefe", // 使用自己封装的规则配置 eslint-config-elemefe
  "rules": {
    "no-restricted-globals": [
      "error",
      "event",
      "fdescribe"
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
